name: Deploy Users Microservices

on:
  push:
    branches:
      - features/test_aws  # Se ejecuta cuando haces push a la rama test_aws

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: 游닌 Checkout del repositorio
        uses: actions/checkout@v4

      - name: 游댐 Configurar conexi칩n SSH con EC2
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.EC2_HOST_USERS }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY}}
          script: |
            cd ~/appSchool/BACKEND/gestion_usuarios
            git pull origin test_aws  # Asegura que el c칩digo est치 actualizado
            docker-compose down
            docker-compose up -d --build
